.Meter-Container {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Meter {
    position: absolute;
    color: black;
    background-color: #aaaaaa;
    border: solid white;
    border-width: 0.25vw;
    text-align: center;
    font-size: 2vw;
    user-select: none;
    padding: 0vw 0.5vw;
}

.Spacer-Top {
    font-weight: bold;
    padding-bottom: 50%;
}

.Spacer-Middle {
    font-weight: bold;
    padding: 50% 0%;
}

.Spacer-Bottom {
    font-weight: bold;
    padding-top: 50%;
}
